## Lab 3.1

In [1]:
import pandas as pd
#1 . Đọc file 
path_stocks1="D:/17A2KHDL/Lab 3/DATA/stocks1.csv"
stocks1_df=pd.read_csv(path_stocks1)

In [2]:
#2 
print ("5 dòng đầu tiên của DATAFRAME stock1_df:")
print (stocks1_df.head())

5 dòng đầu tiên của DATAFRAME stock1_df:
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

In [3]:
# 3. Hiển thị kiểu dữ liệu (dtype) của mỗi cột trong stocks1
print("\nKiểu dữ liệu của mỗi cột:")
print(stocks1_df.dtypes)

# 4. Xem thông tin tổng quan (info) của stocks1
print("\nThông tin tổng quan về stocks1:")
stocks1_df.info()

Kiểu dữ liệu của mỗi cột:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

Thông tin tổng quan về stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes

# Lab 3.2

In [4]:
#1 
print("\nKiểm tra dữ liệu Null:")
print(stocks1_df.isnull().sum())

Kiểm tra dữ liệu Null:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

In [5]:
#2
tb_high=stocks1_df['high'].mean()
stocks1_df['high'].fillna(tb_high)

0     1674.260000
1     1709.430000
2     1707.800000
3      943.511538
4     1669.750000
5      175.150000
6      177.750000
7      176.000000
8      175.490000
9      174.440000
10    1142.970000
11    1158.280000
12     943.511538
13    1167.570000
14    1156.760000
Name: high, dtype: float64

In [6]:
# Hiển thị data frame sau khi thay thế dữ liệu null ở cột high
print ("\ndata frame sau khi thay thế dữ liệu null ở cột high:")
print(stocks1_df.head())

data frame sau khi thay thế dữ liệu null ở cột high:
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

In [7]:
# 3 
tb_low=stocks1_df['low'].mean()
stocks1_df['low'].fillna(tb_low)

0     1651.000000
1     1674.360000
2     1689.010000
3      926.775385
4     1620.510000
5      172.890000
6      173.970000
7      174.540000
8      173.940000
9      172.020000
10    1124.750000
11    1130.690000
12     926.775385
13    1155.490000
14    1134.910000
Name: low, dtype: float64

In [8]:
print("\n Kiểm tra lại dữ liệu null sau khi xử lí :")
after_kt_null=stocks1_df['low'].isnull().sum()
print(after_kt_null)

 Kiểm tra lại dữ liệu null sau khi xử lí :
2

In [9]:
print("\n Kiểm tra lại dữ liệu null sau khi xử lí :")
after_kt_null=stocks1_df.isnull().sum()
print(after_kt_null)

 Kiểm tra lại dữ liệu null sau khi xử lí :
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

In [10]:
#4
print("\nThông tin tổng quan sau khi xử lý dữ liệu Null:")
stocks1_df.info()

Thông tin tổng quan sau khi xử lý dữ liệu Null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes

## Lab 3.3

In [11]:
path_stocks1="D:/17A2KHDL/Lab 3/DATA/stocks2.csv"
stocks2_df=pd.read_csv(path_stocks1)
stocks_df = pd.concat([stocks1_df, stocks2_df], ignore_index=True)
# hiển thị data frame sau khi gộp 
print('data frame sau khi gộp :')
print (stocks_df.head())
print("\n Thông tin toongr quan của data frame stocks_df sau khi gộp: ")
stocks_df.info()

#3
gia_tb_per_day=stocks_df.groupby('date')[['open','high','low','close' ]].mean()
#4
print("Giá trung bình cho mỗi ngày:")
print(gia_tb_per_day.head())

data frame sau khi gộp :
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

 Thông tin toongr quan của data frame stocks_df sau khi gộp:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    25 non-null     object
 1   symbol  25 non-null     object
 2   open    25 non-null     float64
 3   high    23 non-null     float64
 4   low     23 non-null     float64
 5   close   25 non-null     float64
 6   volume  25 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.5+ KB
Giá trung bình cho mỗi ngày:
             open       high       low    close
date
01-03-19  684.770  692.52840  680.4460  688.952
04-03-19  693.940  702.39200  685.1260  694.510
05-03-19  695.664  584.92000  575.0500  695.558
06-03-19  696.502  449.53395  443.7725  690.016
07-03-19  689.460  691.47800  673.8600  677.494

## Lab 3.4

In [12]:
# 1. Đọc file companies.csv vào DataFrame companies
path_companies="D:/17A2KHDL/Lab 3/DATA/companies.csv"
companies=pd.read_csv(path_companies)

# 2. Hiển thị 5 dòng đầu tiên của companies
print("\n5 dòng đầu tiên của companies:")
print(companies.head())

#
print("Cột trong DataFrame stocks:")
print(stocks_df.columns)

print("\nCột trong DataFrame companies:")
print(companies.columns)
#3 

companies.rename(columns={'name': 'symbol'}, inplace=True)
stocks = pd.merge(stocks_df, companies, on='symbol', how='inner')
print(stocks.head())

5 dòng đầu tiên của companies:
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA
Cột trong DataFrame stocks:
Index(['date', 'symbol', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

Cột trong DataFrame companies:
Index(['name', 'employees', 'headquarters_city', 'headquarters_state'], dtype='object')
       date symbol     open     high      low    close   volume  employees  \
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877     613300
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358     613300
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522     613300
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001     613300
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017     613300

  headquarters_city headquarters_state
0           Seattle                 WA
1           Seattle                 WA
2           Seattle                 WA
3           Seattle                 WA
4           Seattle                 WA

# Lab 3.5

In [13]:
# 1. Tạo MultiIndex cho DataFrame stocks bằng cột date và symbol
stocks.set_index(['date', 'symbol'], inplace=True)

# 2. Sử dụng GroupBy để tính giá và volume trung bình cho mỗi ngày, cho mỗi mã chứng khoán
grouped = stocks.groupby(['date', 'symbol']).agg({
    'open': 'mean',
    'high': 'mean',
    'low': 'mean',
    'close': 'mean',
    'volume': 'mean'
})

# 3. Sắp xếp dữ liệu theo ngày và mã chứng khoán
grouped.sort_index(inplace=True)

# 4. Hiển thị kết quả cho 5 ngày đầu tiên
print("\nKết quả phân tích dữ liệu cho 5 ngày đầu tiên:")
print(grouped.head(5))

Kết quả phân tích dữ liệu cho 5 ngày đầu tiên:
                    open      high      low    close      volume
date     symbol
01-03-19 AAPL     174.28   175.150   172.89   174.97  25886167.0
         AMZN    1655.13  1674.260  1651.00  1671.73   4974877.0
         FB       162.60   163.132   161.69   162.28  11097770.0
         GOOG    1124.90  1142.970  1124.75  1140.99   1450316.0
         TSLA     306.94   307.130   291.90   294.79  22911375.0

# lab 3.6

In [14]:
# 1. Tạo Pivot Table với date làm chỉ mục, symbol làm cột, giá trị trung bình của close làm giá trị
pivot_table = stocks.pivot_table(values='close', index='date', columns='symbol', aggfunc='mean')

# 2. Thêm cột tính tổng volume giao dịch cho mỗi mã chứng khoán
volume_sum = stocks.groupby('symbol')['volume'].sum()
pivot_table['Total Volume'] = volume_sum

# 3. Sắp xếp Pivot Table dựa trên tổng volume giao dịch
pivot_table.sort_values(by='Total Volume', ascending=False, inplace=True)

# 4. Hiển thị kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất
print("\nPivot Table - 5 mã chứng khoán có tổng volume giao dịch cao nhất:")
print(pivot_table.head(5))

Pivot Table - 5 mã chứng khoán có tổng volume giao dịch cao nhất:
symbol      AAPL     AMZN      FB     GOOG    TSLA  Total Volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN